#products{

}
a[href]{
    color: chocolate;
}

#products ~ p{
    color: pink;
}

#products + p{
    color: powderblue;
}

article  :last-child{
    color: red;

}

ul li:nth-child(odd){
    color: blue;
}

a:hover, a:focus{
    color:crimson;
}

.first-letter{
    font-weight: bold;
    font-style: italic;
}

p::first-line{
    font-size: 100%;
    font-style: oblique;
    color: blue;
}
::selection{
    color: crimson;
}