#products{

}
a[href]{
    color: chocolate;
}

#products ~ p{
    color: pink;
}

#products + p{
    color: powderblue;
}

article  :last-child{
    color: red;

}

ul li:nth-child(odd){
    color: blue;
}

a:hover, a:focus{
    color:crimson;
}